<h1>Users</h1>

<form class = "SearchForm" action="/users" method="get">
  <%= form_tag('/users', :method => 'get' ) do %>
      <label for="searchbox">Search:</label>
      <input id="searchbox" type = "text" name = "searchq">
      <input type="submit" value="GO!">
  <% end %>
</form>

<table class = "DataTable">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
        <% if current_login.user.id == user.id %>
            <%= link_to 'Edit', edit_user_path(user) %>
        <% end %>
        </td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>