<p id="notice"><%= notice %></p>

<div id="photoContainer">
  <img id="userPhoto" src="<%= @user.photo %>" alt="No photo" style="width:150px; height:auto">
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @user.locality %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.login.email %>
</p>
<% if current_login.user.id != @user.id and Friendship.where(user_id: current_login.user.id, friend_id: @user.id).blank? %>
  <%= link_to 'Add Friend', friendships_invite_path(id: @user.id) %>
<% end %>
<% if current_login == @user.login %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>

<br><br>
<h1><%= @user.name %> Activities</h1>
<% if @activities.blank? %>
    <p>No activities found</p>
<% else %>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>User</th>
        <th>Start date</th>
        <th>Duration (min)</th>
        <th>Distance (m)</th>
        <th colspan="3"></th>
      </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.sport.name %></td>
            <td><%= activity.user.name %></td>
            <td><%= activity.start_date %></td>
            <td><%= activity.duration %></td>
            <td><%= activity.distance %></td>
            <td><%= link_to 'Show', activity %></td>
            <% if activity.user_id == current_login.user.id %>
                <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
                <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>