<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @activity.sport.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user.name %>
</p>

<p>
  <strong>Map:</strong>
  <%= @activity.map_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @activity.start_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @activity.duration %> Minutos
</p>

<p>
  <strong>Distance:</strong>
  <%= @activity.distance %> Metros
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
